<%- include('partials/header') %>
<div class="profile-container">
    <div class="bg-pic">
        <div class="profile-pic">

        </div>
    </div>
    <div class="profile-info">
        <h1>Profile Information</h1>
        <hr>

        <form action="/profile" method="POST">
            <div class="names">
                <div class="txt_field">
                    <input type="text" id="firstName" name="firstName" value="<%= user.firstName %>" required>
                    <span></span>
                    <label for="firstName">First Name</label>
                </div>
                
                <div class="txt_field">
                    <input type="text" id="lastName" name="lastName" value="<%= user.lastName %>" required>
                    <span></span>
                    <label for="lastName">Last Name</label>
                </div>
            </div>
            
            <div class="txt_field">
                <input type="text" id="middleName" name="middleName" value="<%= user.middleName %>">
                <span></span>
                <label for="middleName">Middle Name</label>
            </div>

            <div class="txt_field">
                <input type="email" id="email" name="email" value="<%= user.email %>" required>
                <span></span>
                <label for="email">Email</label>
            </div>

            <div class="txt_field">
                <input type="text" id="phone" name="phone" value="<%= user.phone %>">
                <span></span>
                <label for="phone">Phone</label>
            </div>

            <div class="txt_field">
                <input type="text" id="address" name="address" value="<%= user.address %>">
                <span></span>
                <label for="address">Address</label>
            </div>

            <div class="txt_field">
                <input type="text" id="city" name="city" value="<%= user.city %>">
                <span></span>
                <label for="city">City</label>
            </div>

            <div class="txt_field">
                <input type="text" id="state" name="state" value="<%= user.state %>">
                <span></span>
                <label for="state">State</label>
            </div>

            <div class="txt_field">
                <input type="text" id="country" name="country" value="<%= user.country %>">
                <span></span>
                <label for="country">Country</label>
            </div>

            <div class="txt_field">
                <input type="password" id="currentPassword" name="currentPassword">
                <span></span>
                <label for="currentPassword">Current Password</label>
            </div>

            <div class="txt_field">
                <input type="password" id="newPassword" name="newPassword">
                <span></span>
                <label for="newPassword">New Password</label>
            </div>
            
            <div class="txt_field">
                <input type="password" id="confirmPassword" name="confirmPassword">
                <span></span>
                <label for="confirmPassword">Confirm New Password</label>
            </div>

            <button type="submit">Update Profile</button>
        </form>
    </div>
    
</div>