<%- include('partials/header', { firstName: firstName }) %>
    
    <div class="view-house-listings">
        <h1>All Properties</h1>
        <div class="view-properties">
            <% properties.forEach(property => { %>
                <div class="list">
                    <img src="<%= property.photos.length > 0 ? '/' + property.photos[0] : '/uploads/default.jpeg' %>" alt="<%= property.propertyName %>" class="main-img">
                    <p class="price">₦ <%= property.price.toLocaleString() %></p>
                    <p class="name"><%= property.propertyName %></p>
                    <p class="address"><%= property.city %>, <%= property.state %></p>
                    <div class="beds-bath">
                        <span class="beds"><img src="/assets/icon-bed-DST.png" alt=""> <%= property.bedroom %> Beds</span> &nbsp;
                        <span class="bath"><img src="/assets/icon-bathroom-nSw.png" alt=""> <%= property.bathroom %> Bath</span>
                        <a href="/propertydetails/<%= property._id %>" class="see-more">View</a>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

<%- include('partials/footer') %>